<!DOCTYPE html>
<html>
  <head>
    <title>Delete Model</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-3">
      <h2>Are you sure you want to delete "{{ object.name }}"?</h2>
      <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'model_list' %}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </body>
</html>
