<!DOCTYPE html>
<html>
  <head>
    <title>Create/Update Model</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-3">
      <h2>{{ form.instance.id|default:"New" }} Model</h2>
      <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-success">Submit</button>
        <a href="{% url 'model_list' %}" class="btn btn-secondary"
          >Back to List</a
        >
      </form>
    </div>
  </body>
</html>
