<!DOCTYPE html>
<html>
  <head>
    <title>List of Models</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-3">
      <h2>Model List</h2>
      <a href="{% url 'model_create' %}" class="btn btn-primary mb-2"
        >Add New Model</a
      >
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>
              <a href="{% url 'model_update' item.id %}" class="btn btn-info"
                >Edit</a
              >
              <a href="{% url 'model_delete' item.id %}" class="btn btn-danger"
                >Delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
