  {% load custom_filters %}
  <div class="container">
    <div class="d-flex justify-content-start align-items-center align-btn">
      <a
        href="{% url 'generic_create' model_name=model_name %}"
        class="btn btn-primary mb-2 mr-2"
        >Add New {{ model_name|capfirst }}</a
      >
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        {% if field_labels %}
        <!-- Check if field labels are provided -->
        {% for field_name, field_label in field_labels %}
        <th><a href="#" class="sort-link" data-sort="{{ field_name }}">{{ field_name }}</th>
        <!-- Use custom filter to get attribute value by name -->
        {% endfor %} {% endif %}
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in page_obj %}
      <!-- Iterate over each item in the queryset -->
      <tr>
        {% for field_name, field_label in field_labels %}
        <td>{{ item|get_attr:field_name }}</td>
        <!-- Use custom filter to get attribute value by name -->
        {% endfor %}
        <td>
          <a
            href="{% url 'generic_update' model_name=model_name pk=item.pk %}"
            class="btn btn-info"
            >Edit</a
          >
          <a
            href="{% url 'generic_delete' model_name=model_name pk=item.pk %}"
            class="btn btn-danger"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>